h1 {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: #272727;
}


/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One&display=swap');


body {
  background-color: #121212 !important;
}


#clock {
  font-family: 'Sigmar One', cursive;
  color: #0f5e72;
  font-size: 40px;
  text-align: right;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 40px;
}

#date {
    font-family: 'Pacifico';
    color: #0f5e72;
    font-size: 50px;
    text-align: right;
}

#positiveAffirmations {
    font-family: Cambria;
    color: white;
    font-size: 11px;
    text-align: right;
}

.corgiButton {
  border-radius: 50%;
}

.corgiButton:hover {
  cursor: pointer;
  padding: 50px;
}
.corgiButton:active {
  background-color: #133662;
  box-shadow: 0 5p;
  transform: translateY(4px);
}

#corgiButtonId {
  color:white;
}


#homeButton {
  color: black;
  text-align: center;
}

#aboutUsButton {
  color: black;
  text-align: center;
}

#createAnAccountButton {
  color: black;
  text-align: center;
}




/* to do */

#todo-list{
  color: white;
  width: 300px;
  overflow-y: scroll;
}

.todo-add-button{
  color:grey;
  border-radius: 20px;
  border: 2px dashed grey;
  padding: 7px 0 10px 0;
  margin: 20px 10px 5px 10px;
  transition: color 350ms, border-color 350ms;
  width: 200px
}

.todo-add-button:hover{
  color: white;
  border-color: green;
}

.todo-add-text{
  text-align: center
}

.todo-item{
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 10px;
}
.todo-check{
  text-align: right;
}
.todo-complete{
  color: grey;
}

/* end of to do */